.VueCarousel-slide {
    position: relative;
    background: white;
    color:black;
    font-family: Arial;
    font-size: 24px;
    text-align: center;
    min-height: 600px;
}

.modal-area-inner{
  margin-top: 40px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

.modal-area-inner h2{
  font-size: 30px;
  text-align: center;
  color: red;
}

.modal-area-inner .label ul li{
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  font-size: 20px;
  text-align: center;
  color:black;

}
