h1,
h2 {
  text-align: center;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-print-color-adjust: exact;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
#activity-log {
  padding-left: 20px;
}
.activity-edit {
  padding-left: 20px;
}
